body {
  background-color: saddlebrown;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1400px;
  height: 72px;
  margin: 0 auto;

  .logo {
    flex: 1 0 0;
    max-width: 25%;
    height: 50px;
    padding: 0 15px;

    .home-link {
      display: inline-block;
      font-size: 0;
    }
  }

  .header-gnb {
    position: relative;
    flex-basis: 0%;
    flex-grow: 1;

    &-content {
      padding: 0 15px;

      .header-gnb-item {
        display: inline-block;
        text-align: center;

        .menu-link {
          display: inline-block;
          padding: 18px 15px 18px;
          color: var(--color-white);
          font-size: 17px;
          font-weight: 700;

          &:hover {
            color: var(--color-orange);
            transition: all 0.2s ease-in-out;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .header-lnb {
        position: absolute;
        display: none;
        top: 70px;
        padding: 10px 7px;
        opacity: 0.95;
        border-radius: 3px;
        background-color: var(--color-white);

        &-item {
          min-width: 110px;
          padding: 10px 7px;
          text-align: left;
          cursor: pointer;

          a {
            display: inline-block;
            font-size: 16px;
            color: var(--color-gray6);
          }

          &:hover {
            width: 100%;
            background-color: var(--color-orange);
            border-radius: 3px;

            a {
              color: var(--color-white);
            }
          }
        }
      }

      .header-lnb.active {
        display: block;
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;

    .sns {
      margin-right: 100px;

      &-link {
        display: block;
        width: 30px;
        height: 30px;
      }
    }

    .franchisee {
      display: inline-block;

      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 165px;
        height: 47px;
        background-color: var(--color-orange);
        border-radius: 47px;
        color: var(--color-white);
        font-size: 18px;
        font-weight: 700;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: var(--color-orange);
          background-color: transparent;
          border: 2px solid var(--color-orange);
        }
      }
    }
  }

  @include mq($d) {
    max-width: 1200px;
  }

  @include mq($t) {
    display: none;
  }

  @include mq($m) {
    display: none;
  }
}

.header-mobile-gnb {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-white);
  z-index: $mobile-header;

  .mobile-logo {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 50px;

    .home-link {
      display: inline-block;
    }

    img {
      height: 29px;
    }
  }

  &-btn {
    position: absolute;
    top: 22px;
    left: 20px;
    width: 24px;
    height: 24px;
  }

  @include mq($d) {
    display: none;
  }

  @include mq($t) {
    display: block;
  }

  @include mq($m) {
    display: block;
  }
}
